<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<th:block th:include="/_header"></th:block>

<div class="login-container">
    <h3>Введите имя пользователя и пароль</h3>
    <br>
    <!-- /login?error=true -->
    <th:block th:if="${#session != null && #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}">
        <div th:if= "${#request.getParameter('error') == 'true'}"
             style="color: red; margin: 10px 0px;">
            Ошибка!!!<br /> Информация :
            <span th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}"></span>
        </div>
    </th:block>

    <form method="POST"
          th:action="@{/j_spring_security_check}">
        <table>
            <tr>
                <td>Имя пользователя *</td>
                <td><input name="userName" /></td>
            </tr>
            <tr>
                <td>Пароль *</td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <button type="submit" class="btn btn-primary">Вход</button>
                    <button type="reset" class="btn btn-secondary">Очистить</button>
                </td>
            </tr>
        </table>
    </form>

    <span class="error-message" th:utext="${error}"></span>
</div>

</body>
</html>