<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Видеокарты</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<th:block th:include="/_header"></th:block>

<div class="page-title">Список товаров</div>

<div class="container">
    <div class="row row-cols-3">
        <!--/*@thymesVar id="products" type="java.util.List<OnlineShopProject.OnlineShop.entity.Product>"*/-->
        <div class="col" th:each="prodInfo : ${products}">
            <div class="product-preview-container">
                <ul>
                    <li><img class="product-image"
                             th:src="@{|/productImage?code=${prodInfo.getCode()}|}" /></li>
                    <li>Код: <span th:utext="${prodInfo.getCode()}"></span></li>
                    <li>Название: <span th:utext="${prodInfo.getName()}"></span></li>
                    <li>Цена: <span th:utext="${#numbers.formatDecimal(prodInfo.getPrice(),3,2,'COMMA')}"></span></li>
                    <th:block sec:authorize="hasAnyRole('ROLE_EMPLOYEE')">
                        <li>
                            <a class="btn btn-success" th:href="@{|/buyProduct?code=${prodInfo.getCode()}|}">Купить</a>
                        </li>
                    </th:block>
                    <th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
                        <li>
                            <a style="color:red;"
                               th:href="@{|/admin/product?code=${prodInfo.getCode()}|}">Редактировать</a>
                        </li>
                        <li>
                            <a style="color:red;"
                               th:href="@{|/admin/productRemove?code=${prodInfo.getCode()}|}">Удалить</a>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>

        <br/>
    </div>
</div>
</body>
</html>