<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Успешная покупка</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

<th:block th:include="/_header"></th:block>

<div class="page-title">Finalize</div>
<div class="container">
    <h3>Спасибо за покупку</h3>
    Номер вашего заказа: <span th:utext="${lastOrderedCart.orderNum}"></span>
</div>

</body>
</html>