<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<th:block th:include="/_header"></th:block>

<form method="POST" th:object = "${customerForm}" th:action="@{/shoppingCartCustomer}">

    <table>
        <tr>
            <td>Имя *</td>
            <td><input th:field="*{name}" /></td>
            <td>
                  <span class="error-message"
                        th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
            </td>
        </tr>
        <tr>
            <td>Email *</td>
            <td><input th:field="*{email}" /></td>
            <td>
                  <span class="error-message"
                        th:if="${#fields.hasErrors('email')}" th:errors="*{email}">..</span>
            </td>
        </tr>
        <tr>
            <td>Телефон *</td>
            <td><input th:field="*{phone}" /></td>
            <td>
                  <span class="error-message"
                        th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">..</span>
            </td>
        </tr>
        <tr>
            <td>Адрес *</td>
            <td><input th:field="*{address}" /></td>
            <td>
                  <span class="error-message"
                        th:if="${#fields.hasErrors('address')}" th:errors="*{address}">..</span>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><button class="btn btn-success" type="submit" >Подтвердить</button> <button class="btn btn-secondary" type="reset">Очистить</button></td>
        </tr>
    </table>

</form>

</body>
</html>